<div class = "row">
    <div class="col-sm-6 col-md-2">
      <h3>Shaka Zulu</h3>
    </div>
</div>

<div class = "row" id="shaka_img">
    <div class="col-sm-6 col-md-6">
      <img width="80%" src="assets/shaka-zulu/shaka-zulu.jpg">
    </div>
</div>

<div  class = "row">
    <div class="col-sm-6 col-md-6">
        <p>
            Shaka kaSenzangakhona (c. 1787 – 1828), also known as Shaka Zulu, was one of the most influential monarchs of the Zulu Kingdom.
            He was born in the lunar month of uNtulikazi (July) in the year of 1787 near present-day Melmoth, KwaZulu-Natal Province.
        </p>
    </div>
</div>

<div class = "row">
    <a routerLink="/home">
        <div class="col-sm-12 play_link">
            MAIN MENU
        </div>
    </a>
</div> 