
<div class = "row">
    <div id="logo" class="col-sm-12">
        NGUNI PUZZLE
    </div>
</div>

<div class = "row">
    <div class="col-sm-6">
        <p> You have 20 seconds to solve a puzzle and possibly learn something new about the Nguni culture
        </p>
    </div>
</div>

<div class = "row">
    <a routerLink="/game">
        <div class="col-sm-12 play_link">
            PLAY
        </div>
    </a>
</div>

<div class = "row">
    <a href="https://www.obomvu.co.za/games.html">
        <div class="col-sm-12 play_link">
            HOME
        </div>
    </a>
</div>     
